<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Location</title>
</head>
<body>
{% if request.session.logged_in_role == "admin" %}
<a href="{% url 'WebChamCong:view_accounts' %}">
    <button>Xem tất cả tài khoản</button>
</a>
<button id="set_host_pos">Set Host Position</button>

{% endif %}
    <h1>server location</h1>
        <input type="text" id="current_lat" placeholder="Enter current latitude">
        <input type="text" id="current_long" placeholder="Enter current longitude">
        <button id="calculate">Calculate Distance</button>
        <p id="result"></p>
    <script>
        document.getElementById('calculate').addEventListener('click', function() {
            let destinationLat = parseFloat(document.getElementById('current_lat').value);
            let destinationLng = parseFloat(document.getElementById('current_long').value);
fetch(`/webchamcong/calculate_distance_view?lat=${destinationLat}&lon=${destinationLng}`)
    .then(response => response.text())
    .then(distance => document.getElementById('result').innerText = `Distance: ${distance} meters`);
        });
    </script>
<button id="load_pos">Load Position</button>

<script>
    document.getElementById('load_pos').addEventListener('click', function() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
            document.getElementById('current_lat').value = position.coords.latitude;
            document.getElementById('current_long').value = position.coords.longitude;
        }, function(error) {
            console.log('Error: ' + error);
        }, {
            enableHighAccuracy: true
        });
    } else {
        console.log('Geolocation is not supported by this browser.');
    }
});

</script>



<script>
    document.getElementById('set_host_pos').addEventListener('click', function() {
        let lat = document.getElementById('current_lat').value;
        let lon = document.getElementById('current_long').value;
        fetch(`/webchamcong/set_host_pos?lat=${lat}&lon=${lon}`)
            .then(response => console.log('Host position set successfully'))
            .catch(error => console.log('Error: ' + error));
    });
</script>


</body>
</html>
